*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --font-color: #222222;
  --primary-color: #764BA2;
  --bg-color: #FEFEFE;
  --border-color: #E2E8F0;
  --secondary-color: #F8FAFC;
  --gray-color: #BBBBBB;
  --green-color: #27AE60;
  --blue-color: #3498DB;
  --red-color: #E74C3C;
  --px-40: 40px;
  --px-12: 12px;
  --px-8-12: 8px 12px;
  --font-size-16: 16px;
  --border-radius-16: 16px;
  --shadow: 0 2px 30px 0 rgba(0, 27, 55, 0.1);
}

h1,h2,h3,h4,h5,h6,p,span{
  color: var(--font-color);
}

@font-face {
  font-family: "Regular";
  src: url("../font/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bold";
  src: url("../font/Pretendard-SemiBold.woff2") format("woff2");
}